@font-face 
    font-family: myFirstFont
    src: url(../fonts/Satisfy/Satisfy-Regular.ttf)  format('truetype')

nav
    display: flex
    justify-content: space-between
    padding: 2vh 5vw
    align-items: center
    background-color: rgba(0,0 ,0 ,0.7) 
.nav-right-part
    display: flex
    align-items: center
    gap: 2vw
.nav-links
    display: flex
    gap: 3vw
    a
        color: #fff
        text-decoration: none
        transition: 0.4s
        &:hover
            color: #ffb03b
.logo
    font-family: myFirstFont
    font-size: 30px
    text-decoration: none
    color: #fff

.nav-btn
    background-color: #ffb03b
    border: none
    color: #fff
    font-size: 14px
    padding: 8px 20px
    border-radius: 20px
    transition: 0.4s
.nav-btn
    &:hover
        background-color: #f7a01d
